extends ../main.pug
block content
    style.
        a:hover{
            color:#FFEE77;
        }
    div(class="container-md text-center")
        div(class="card mb-3 p-5 shadow rounded-pill" style="background-color:#444444AF")
            div(class="row g-0 fs-4")
                a(class="textSpecial-bs" href="/doc/personal-website-master/content/doc/RESUME-1cr22mc008Aniket-Jadhav (1).pdf" download="") Resume Download
            div(class="row g-0 fs-4")
                p(class="textSpecial-bs" ) Phone number: 8104117917
            div(class="row g-0 fs-4")
                p(class="textSpecial-bs" ) Email: jadhavaniket0118@gmail.com
            div(class="row g-0 fs-4")
                p(class="textSpecial-bs" ) Linkedin:
                    a(class="textSpecial-bs" href="https://www.linkedin.com/in/aniket-jadhav-5baa741a4/") https://www.linkedin.com/in/aniket-jadhav-5baa741a4/
            div(class="row g-0 fs-4")
                p(class="textSpecial-bs" ) GitHub:
                    a(class="textSpecial-bs" href="https://github.com/Dev-AniketJadhav") https://github.com/Dev-AniketJadhav


